name: Terraform CI/CD

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  terraform-plan:
    name: Terraform Plan
    runs-on: ubuntu-latest
    timeout-minutes: 10

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: 1.0.0

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1

      - name: Terraform Init
        run: terraform init
        working-directory: stacks/static-site

      - name: Terraform Plan
        run: terraform plan -out=tfplan
        working-directory: stacks/static-site

      - name: Upload Plan
        uses: actions/upload-artifact@v3
        with:
          name: tfplan
          path: stacks/static-site/tfplan

  terraform-apply:
    name: Terraform Apply
    runs-on: ubuntu-latest
    timeout-minutes: 15
    needs: terraform-plan
    environment: production

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: 1.0.0

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          #cette variable a ete deplacée dans terraform.tfvars
          #aws-region: us-east-1

      - name: Download Plan
        uses: actions/download-artifact@v3
        with:
          name: tfplan
          path: stacks/static-site

      - name: Terraform Init
        run: terraform init
        working-directory: stacks/static-site

      - name: Terraform Apply
        run: terraform apply tfplan
        working-directory: stacks/static-site